.title {
    text-align: center;
}

.premade {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.center {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.block {
    display: flex;
    flex-direction: column;
}